/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

button:focus {
  outline: none;
}

@layer utilities {
  .bg-pink-200 {
    background-color: #FFC0CB;
  }
  .text-pink-800 {
    color: #b03060;
  }
  .bg-pink-500 {
    background-color: #FF69B4;
  }
  .bg-dark-900 {
    background-color: #0d0d0d;
  }
  .bg-dark-800 {
    background-color: #1a1a1a;
  }
  .text-neon-pink {
    color: #ff0099;
  }
  .text-neon-blue {
    color: #00ffff;
  }
  .bg-neon-pink {
    background-color: #ff0099;
  }
  .bg-neon-pink-hover {
    background-color: #cc007a;
  }
  .bg-yellow-500 {
    background-color: #F2E205;
  }
  .bg-yellow-600 {
    background-color: #d1bb04;
  }
}

/* Glitch effect */
@keyframes glitch {
  0% {
    clip: rect(0, 200px, 1em, 0);
    transform: skew(0.5deg) translateX(0px);
  }
  10% {
    clip: rect(0.1em, 200px, 0.9em, 0);
    transform: skew(0.5deg) translateX(-1px);
  }
  20% {
    clip: rect(0.2em, 200px, 0.8em, 0);
    transform: skew(0.5deg) translateX(1px);
  }
  30% {
    clip: rect(0.05em, 200px, 0.7em, 0);
    transform: skew(0.5deg) translateX(-1px);
  }
  40% {
    clip: rect(0.15em, 200px, 0.95em, 0);
    transform: skew(0.5deg) translateX(1px);
  }
  50% {
    clip: rect(0em, 200px, 0.85em, 0);
    transform: skew(0.5deg) translateX(0px);
  }
  60% {
    clip: rect(0.2em, 200px, 0.9em, 0);
    transform: skew(0.5deg) translateX(-1px);
  }
  70% {
    clip: rect(0.1em, 200px, 0.6em, 0);
    transform: skew(0.5deg) translateX(1px);
  }
  80% {
    clip: rect(0.05em, 200px, 0.9em, 0);
    transform: skew(0.5deg) translateX(-1px);
  }
  90% {
    clip: rect(0.1em, 200px, 0.7em, 0);
    transform: skew(0.5deg) translateX(1px);
  }
  100% {
    clip: rect(0.15em, 200px, 0.8em, 0);
    transform: skew(0.5deg) translateX(0px);
  }
}

.glitch {
  position: relative;
  display: inline-block;
  line-height: 1em;
  overflow: hidden;
  color: #fff;
  animation: glitch 1s infinite;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: #F2E205; /* Желтый */
  animation: glitch 1s infinite;
}

.glitch::before {
  transform: translateX(-1px);
}

.glitch::after {
  transform: translateX(1px);
}
