/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

button:focus {
  outline: none;
}

@layer utilities {
  .bg-pink-200 {
    background-color: #FFC0CB;
  }
  .text-pink-800 {
    color: #b03060;
  }
  .bg-pink-500 {
    background-color: #FF69B4;
  }
  .bg-dark-900 {
    background-color: #0d0d0d;
  }
  .bg-dark-800 {
    background-color: #1a1a1a;
  }
  .text-neon-pink {
    color: #ff0099;
  }
  .text-neon-blue {
    color: #00ffff;
  }
  .bg-neon-pink {
    background-color: #ff0099;
  }
  .bg-neon-pink-hover {
    background-color: #cc007a;
  }
  .bg-yellow-500 {
    background-color: #F2E205;
  }
  .bg-yellow-600 {
    background-color: #d1bb04;
  }
}

/* Glitch effect */
@keyframes glitch {
  0% {
    clip: rect(44px, 9999px, 56px, 0);
    transform: skew(0.5deg);
  }
  10% {
    clip: rect(20px, 9999px, 85px, 0);
    transform: skew(0.5deg);
  }
  20% {
    clip: rect(56px, 9999px, 34px, 0);
    transform: skew(0.5deg);
  }
  30% {
    clip: rect(74px, 9999px, 39px, 0);
    transform: skew(0.5deg);
  }
  40% {
    clip: rect(64px, 9999px, 100px, 0);
    transform: skew(0.5deg);
  }
  50% {
    clip: rect(100px, 9999px, 50px, 0);
    transform: skew(0.5deg);
  }
  60% {
    clip: rect(64px, 9999px, 100px, 0);
    transform: skew(0.5deg);
  }
  70% {
    clip: rect(74px, 9999px, 39px, 0);
    transform: skew(0.5deg);
  }
  80% {
    clip: rect(56px, 9999px, 34px, 0);
    transform: skew(0.5deg);
  }
  90% {
    clip: rect(20px, 9999px, 85px, 0);
    transform: skew(0.5deg);
  }
  100% {
    clip: rect(44px, 9999px, 56px, 0);
    transform: skew(0.5deg);
  }
}

.glitch {
  position: relative;
  color: #fff;
  animation: glitch 1s infinite;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
}

.glitch::before {
  animation: glitch 1s infinite;
  clip: rect(0, 900px, 0, 0);
}

.glitch::after {
  animation: glitch 1s infinite;
  clip: rect(0, 900px, 0, 0);
}
